.transactionHistory {
  margin: 0 auto;
  background: #e4e4e4;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  max-width: 640px;
}

.transactionHistory tr {
  height: 40px;
}

.transactionHistory tr:nth-child(even) td {
  background: #ecf1f4;
}

.transactionHistory th {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;

  color: #ffffff;
  background-color: #00bcd5;
  text-transform: uppercase;
  text-align: center;
  padding: 0 8px;
}

.transactionHistory th:first-child {
  border-top-left-radius: 4px;
}

.transactionHistory th:last-child {
  border-top-right-radius: 4px;
}

.transactionHistory td {
  padding: 0 8px;
  font-size: 13px;
  line-height: 1.36;
  text-align: center;
  background-color: #ffffff;
}
